<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/sidebar.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="https://kit.fontawesome.com/a45c2b6d49.js" crossorigin="anonymous"></script>
    <title>Trackgenix S.A.</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Trackgenix</h1>
            <h2>We’re Trackgenix SA</h2>
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div id="side-main">
        <aside>
            <div id="side-buttons">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="./sing-up.html">Sing Up</a></li>
                    <li><a href="./login.html">Log In</a></li>
                </ul>
            </div>
            <h2>Contact</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iure non exercitationem voluptatem ipsam,
                officiis autem quas provident voluptas eos optio ab quae ipsa, commodi minima sed deserunt, nemo est?
            </p>
            <ul id="side-icons">
                <li><i class="fa-solid fa-envelope"></i></li>
                <li><a href="#"> information@untitled.tld </a></li>
                <li><i class="fa-solid fa-phone"></i></li>
                <li><a href="#">Tel.: (000) 000-0000</a></li>
                <li><i class="fa-solid fa-house"></i></li>
                <li><a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a></li>
            </ul>
        </aside>
        <main>
            <section class="presentation">
                <h2 id="presentation-tittle">
                    Welcome to Trackgenix
                </h2>
                <h3 id="presentation-subtittle">
                    The new work system
                </h3>
                <div id="presentation-block">
                    <img src="../Assets/imagen-de-recursos-humanos.png" alt="image of multiple persons"
                        class="presentation-img">
                    <p id="presentation-text">
                        Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum
                        congue.
                        Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.
                        Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac
                        quam.
                        Lorem ipsum dolor sit nullam.
                    </p>
                </div>
            </section>
            <div class="line-separation"></div>
            <section id="features">
                <h2>Features</h2>
                <div class="features-sep">
                    <div class="features-block">
                        <h3>RECORD OF HOURS</h3>
                        <div class="box-features">
                            <img src="../Assets/imagen-reloj.webp" alt="image of one clock" id="clock">
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.Proin aliquam
                                facilisis
                                anteinterdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </div>
                    <div class="features-block">
                        <h3>
                            RESOURCE MANAGEMENT
                        </h3>
                        <div class="box-features">
                            <img src="../Assets/gestion-de-recursos-imagen.jpg" alt="image of human resources gestion"
                                id="gestion">

                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorpProin aliquam facilisis ante
                                interdum.Sednulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </div>
                </div>
                <div class="features-sep">
                    <div class="features-block">
                        <h3>
                            REPORTS
                        </h3>
                        <div class="box-features">
                            <img src="../Assets/imagen-reporte.png" alt="image of report" id="report">

                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.Proin aliquam
                                facilisis
                                anteinterdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </div>
                    <div class="features-block">
                        <h3>
                            MULTIPLE ROLES
                        </h3>
                        <div class="box-features">
                            <img src="../Assets/imagen-multiples-roles.webp" alt="image of multiple roles" id="roles">

                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.Proin aliquam
                                facilisis
                                ante
                                interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="line-separation"></div>
            <section class="booster-containers">
                <div class="container">
                    <h3>
                        PRODUCTIVITY BOOSTER
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis sante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="container">
                    <h3>
                        WORK TRACEABILITY
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="container">
                    <h3>
                        LEADERSHIP AND TEAM MANAGEMENT
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="container">
                    <h3>
                        DECISION MAKING
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
            </section>
            <div class="line-separation"></div>
            <form>
                <fieldset id="imputs-div">
                    <h2>Information</h2>
                    <label for="full-name">NAME & LAST NAME</label>
                    <input type="text" id="full-name" name="full-name">
                    <label for="email">E-MAIL</label>
                    <input type="email" id="email" name="email" placeholder="your@email.com">
                </fieldset>
                <fieldset id="contact-field">
                    <h2>CONTACT</h2>
                    <div class="contact-div">
                        <input type="checkbox" name="contact" id="human-resources" value="human-resources"
                            class="radio-imputs">
                        <label for="human-resources">Human Resources</label>
                        <input type="checkbox" name="contact" id="sistems" value="sistems" class="radio-imputs">
                        <label for="sistems">Systems</label>
                        <input type="checkbox" name="contact" id="commercialization" value="comercialization"
                            class="radio-imputs">
                        <label for="comercialization">Commercialization</label>
                    </div>
                    <div id="message-div">
                        <div>
                            <label for="message-clients">Message</label>
                        </div>
                        <div>
                            <textarea id="message-clients" name="message-clients" rows="4" cols="50">
                        </textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-button">
                    <button type="button">Submit</button>
                </div>
            </form>
            <div class="line-separation"></div>
            <section id="history">
                <h2>
                    OUR HISTORY
                </h2>
                <p class="text-bold">
                    Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum
                    ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                </p>
                <p class="text-history">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum
                    primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan
                    eu
                    faucibus. Integer
                    ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                    sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                    iaculis
                    volutpat ac
                    adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                </p>
                <p class="text-history">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum
                    primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan
                    eu
                    faucibus. Integer
                    ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                    sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                    iaculis
                    volutpat ac
                    adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                </p>
                <p class="text-history">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum
                    primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan
                    eu
                    faucibus. Integer
                    ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                    sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                    iaculis
                    volutpat ac
                    adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                </p>
            </section>
            <div class="line-separation"></div>
            <div id="list-section">
                <div class="item-list">
                    <h2>
                        PRODUCTS
                    </h2>
                    <ul>
                        <li><a href="#">Funcionalities</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Integrations</a></li>
                        <li><a href="#">Extras</a></li>
                    </ul>
                </div>
                <div class="item-list">
                    <h2>
                        COMPANY
                    </h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="item-list">
                    <h2>
                        SUPPORT
                    </h2>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                </section>
        </main>
    </div>
    <footer>
        <p>
            Rosario, Santa Fe - Argentina
        </p>
        <p>
            Copyright © 2022 Trackgenix SA. All rights reserved.
        </p>
    </footer>
</body>

</html>