<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/sing-up.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a45c2b6d49.js" crossorigin="anonymous"></script>
    <title>Sing up</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Trackgenix</h1>
            <h2>We’re Trackgenix SA</h2>
        </div>
    </header>
    <main>
        <h2>SING UP</h2>
        <form action="/action_page.php" method="get">
            <div class="middlecontainer">
                <div class="container">
                    <label for="first-name">First Name:</label>
                    <input id="first-name">
                </div>
                <div class="container">
                    <label for="last-name">Last name:</label>
                    <input id="last-name">
                </div>
                <div class="container">
                    <label for="id">ID:</label>
                    <input id="DNI">
                </div>
                <div class="container">
                    <label for="dob">Date of Birth:</label>
                    <input id="dob">
                </div>
                <div class="container">
                    <label for="phone-number">Phone Number:</label>
                    <input id="phone-number">
                </div>
                <div class="container">
                    <label for="adress">Adress:</label>
                    <input id="adress">
                </div>
            </div>
            <div class="middlecontainer">
                <div class="container">
                    <label for="city">City:</label>
                    <input type="text" name="city">
                </div>
                <div class="container">
                    <label for="post-code">Post Code:</label>
                    <input type="text" name="post-code">
                </div>
                <div class="container">
                    <label for="email">Email:</label>
                    <input type="email" name="email">
                </div>
                <div class="container">
                    <label for="password">Password:</label>
                    <input type="text" name="password">
                </div>
                <div class="container">
                    <label for="confirm password">Confirm password:</label>
                    <input type="text" name="confirm password">
                </div>
                <input id="create" type="submit" value="Create account">
            </div>
        </form>

    </main>
    <footer>
        <p>
            Rosario, Santa Fe - Argentina
        </p>
        <p>
            Copyright © 2022 Trackgenix SA. All rights reserved.
        </p>
    </footer>
</body>

</html>