header {
    width: 100%;
    height: 15%;
    background-color: #aace9b;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-content: space-between;
}
header h1 {
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    color: #373867;
    font-weight: 700;

}
header p {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #69a362;
}
 i {
    align-self: flex-start;
    color: #373867;
    font-weight: 700;
    height: 10%;
}