body {
    font-family: "roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#side-main {
    display: flex;
}


/* @media screen and (min-width: 1024px) {
    aside {
        display: flex;
    }
    main {
        margin-left: 25%;
    }
    header i {
        visibility: hidden;
    }
    footer {
        margin-left: 20%;
    }
}
@media screen and (min-width: 768px) {
} */