body {
    font-family: "roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#side-main {
    display: flex;
}
@media screen and (min-width: 1024px){
    aside {
        display: flex;
    }
    header i {
        visibility: hidden;
    }
    header h1 {
        font-size: 60px;
      }
    header h2 {
        font-size: 45px;
    }
}
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 50px;
      }
    header h2 {
        font-size: 25px;
    }
    .presentation {
        align-items: flex-start;
        margin-left: 10%;
    }
    #presentation-block {
        flex-direction: row-reverse;
    }
    .features-sep {
        display: flex;
    }
    #list-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
